<!DOCTYPE html>
<html>
<head>
  <title>Mojapecenjara</title>
  <%= stylesheet_link_tag    'application' %>
  <%= stylesheet_link_tag    'application.scss' %>
  
  <%= csrf_meta_tags %>
</head>
<body onunload="" class="map-fullscreen page-homepage navigation-off-canvas" id="page-top">

<%= yield %>


</body>
</html>
